body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #1e1e1e;
  color: #e7e7e7;
  margin: 0 auto;
  padding: 1em 2em;
  color: white;
  font-family: 'FiraCode-retina';
  padding-inline-start: 0px;
}

.app {
  text-align: center;
}

h1,
h2,
h3 {

  margin: 0.4em 0;
  line-height: 1.2;
}

h4 {
  font-family: 'FiraCode-retina';
  margin: 0.2em 0;
  line-height: 1.2;
  letter-spacing: 0em;
}

h1 {
  font-size: 2.2em;
  color: #1db0ff;

}

h2 {
  font-size: 1.5em;
  color: #c586c0;
}

h3 {
  font-size: 1.1em;
  margin: 2em 0 1em;
  font-weight: 100;
  color: #9cdcfe;
}

h4 {
  font-size: 0.9em;
  margin: 2em 0 0.5em;
  color: #caecb7;
}

p {
  margin: 1.5em 0;
  line-height: 1.4;
  letter-spacing: -0.05em;
  text-align: justify;
}

ul {
  margin: 5px;
  padding: 0;
}

.nav-item {
  margin-right: 5px;
  font-size: 20px;
  float: right;
  list-style-type: none;
}

.instruction {
  /* margin-left: 20%; */
  font-size: 20px;
  float: left;
  list-style-type: none;
  margin-left: 10px;
}

.restart:hover {
  color: #1db0ff;
}

.navbar {
  min-height: 60px;
}

